{{!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form id="contact">
 action ="/add" method =

<form id = "contctform" action = "" method = "post" >

  <label for="fname">First name:</label><br>
  <input type="text" id="fname" name="firstName" placeholder="Firtst Name">
  <br>
  <label for="lname">Last name:</label>
  <br>
  <input type="text" id="lname" name="lastName" placeholder="last Name">

  <label for="fname">Phone:</label>
  <br>
  <input type="text" id="phone" name="phone" placeholder="Phone">
  <br>
  <label for="lname">Pet Name:</label><br>
  <input type="text" id="petName" name="petName" placeholder="Pet name">

    <label for="lname">bread:</label>
  <br>
  <input type="text" id="breadd" name="bread" placeholder="bread">

  <label for="fname">First name:</label>
  <br>
  <input type="text" id="description" name="description" placeholder="description>
  <br>
 

<label for="fcity">City:</label>
  <br>
  <input type="text" id="city" name="city">
  <br>
  <label for="lname">Location:</label><br>
  <input type="text" id="location" name="location" placeholder="location>



   <label for="lname">Lat:</label><br>
  <input type="text" id="lat" name="lat" placeholder="lat>

 <label for="lname">Lng:</label><br>
  <input type="text" id="lng" name="lng" placeholder="lng">

     <label for="lname">Lat:</label><br>
     <input type="text" id="lat" name"lat">

<label for="moreInfo">More Information</label><br>
  <input type="textarea" id="moreInfo" name="moreInfo" >
  
  <input type="submit" />

</form>

    </form>
    
</body>
</html> --}}