.search1 {
    padding-left: 98px;
    padding-bottom: 50px;
    height: 1px;
    margin-left: 710px;
    padding-right: 2px;


}


ul{
  padding-top: 3px;
  padding-left: 3px;
  margin-left: 0px;
}
 li{
  padding: 18px;
}
/* .navColor{
  background: rgb(35, 35, 163);
} */
li a:hover{
  color:rgb(231, 168, 73)

}
a:link{
  text-decoration: none!important;

}
a {
    color:white;

}
.nav {
    background-color: #2e383b;
}






