
{{>nav }}

<h1>{{title}}</h1>
{{!-- <p>Welcome, {{title}}</p> --}}
<hr>
<style>
.contact-submit{
  width: 260px;
  color:rgb(12, 17, 6);
  background-color: rgb(133, 125, 93);
  color: white;
}


</style>
</head>
<body>

 <img src="../images/dog1.png" class="dog1"> 

<div class="search">This a new central for the people
   who are concerned about their pets. This site will help you in finding. There be more information
   on this page, the next time you visit.
   <p>
Lorem Ipsum dolor sit amet,
consectetur adipiscing elit,
sed do 
    eiusmod tempor incididunt ut labore et dolore magna aliqua.Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.Excepteur sint occaecat cupidatat non proident,
    sunt in culpa qui officia deserunt mollit anim id est laborum.

   
   {{!-- // this part of css is for the form --}}
 

   
   </div>
    <div id="container">
<form id="contact-form" action ="/add" method="post">
  <h3>Get in touch and tell us what you lost or found</h3>
  <h4>Fill in the form below, and we'll get back to you.</h4>
  
  <div><label><span> First Name: (required)</span><input placeholder="Please enter first name" class="input1"  
      type="text"  name=" firstName" tabindex="1" required autofocus></label></div>

  <div><label><span>last Name: (required)</span><input placeholder="Please enter last name" class="input" type="text" name="lastName"

 tabindex="2" required="required" autofocus="autofocus"></label></div>
  
<div><label><span>Telephone: (required)</span><input placeholder="phone number"class="input" type="tel" name="phone" tabindex="3"></label></div>

<div><label><span>email:</span><input placeholder="email" class="input" type="email" name="email" tabindex="4"></label></div>

  <div><label><span>Pet Name: </span><input placeholder="pet name, if any" class="input1" type="text" name="petName" tabindex="5"></label></div>

  <div> <label><span>Breed: </span><input placeholder="its breed" class="input" type="text" name="bread" tabindex="6">
</label>
  </div>

  <div>
    <label>
      <span>Message: </span>
<textarea placeholder="Include all the details you can" class="Btextarea" name="description" tabindex="7"></textarea>
</label></div>

<div><label><span>city:</span><input placeholder="City" class="input" type="text" name="city" tabindex="8"></label></div>
    
<div><label><span>location:</span><input placeholder="location" class="input" type="text" name="location" tabindex="9"></label></div>
<div><label><span>latitude:</span><input placeholder="latitude" class="input" type="number" name="lat" tabindex="10"></label></div>
<div><label><span>longitude:</span><input placeholder="longitude" class="input" type="number" name="lng" tabindex="11"></label></div>


  <div><button name="submit" type="submit" class="contact-submit">submit</button></div>
</form>
</div>
  <style>
 
<br>
{{> footer}}