
{{> nav}}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .wd{
            width: 650px;
        }

    </style>
</head>
<body>

<div class="jumbotron">
    <dive class="container">
<div class="wd">
    <br><br>
      <h3>Hello, 
        you are registered wth us and your information was submetted successfully, 
        Well Done!</h3></dive>

    
</dive></div>

    
</body>
</html>
