
    .left{
        background-color: rgb(71, 58, 58);
        width:45%;
        height:960px;
        color: rgb(244, 245, 244);
        padding: 75px;
        float: left;



    }
    .right{
        color: rgb(244, 245, 244);
        width:55%;
        height:960px;
        float: right;
        padding: 60px;
        background-color: rgb(65, 76, 87);

    }
    body{
     background-color: rgb(105, 92, 92);
     font-family: 'Courier New', Courier, monospace;
   }
h3{

  text-align: center;
}
