

        <div class="container">
            <table class="table table-dark">
            <thread>
                <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <tbody>


                </tbody>

                </tr *ngFor="let petcust of petcustomers ">
                <td> {{petcustomers.firstName}}</td>
                <td> {{petcustomers.lastName}}</td>
                <td> {{petcustomers.email}}</td>
                <td> {{petcustomers.phoneName}}</td>
                <td> {{petcustomers.breed}}</td>
                <td> {{petcustomers.description}}</td>
                <td> {{petcustomers.location}}</td>
                <td> {{petcustomers.lat}}</td>
                <td> {{petcustomers.lng}}</td>
                <td> {{petcustomers.upload}}</td>
            </thread>
        </div>


