

.form1 {

background-color : cadetblue;
width:560px;
float: right;
padding: 5px;
margin-right: 495px;
display : flex;
position: relative;
padding-left: 90px;
padding-right: 90px;
margin-top: 5px;

}


