

<div class=form1>
<div class="container-fluid">
<h1>Pet-central infomation form</h1>
<form [formGroup] ="userInformationForm" (ngSubmit)="onSubmit()">

  <div class="form-group">
    <label>Please enter your Name:</label>
<input type="text" class="form-control" name=" firstName">

  </div>


 <div class="form-group">
    <label>Please enter your Name:</label>
    <input type="text" class="form-control" name="lastName"></div>

 <div class="form-group">
    <label>Please enter your E-mail:</label>
    <input type="text" class="form-control" formControlName="email"></div>

 <div class="form-group">
    <label>Please enter your Phone:</label>
    <input type="tel" class="form-control" formControlName="phone"></div>

<div class="form-group">
    <label>Please enter Pet-Name:</label>
    <input type="text" class="form-control" formControlName="petName"></div>

 <div class="form-group">
    <label>Please enter Breed:</label>
    <input type="text" class="form-control" formControlName="breed"></div>

<div class="form-group">
    <label>Please enter the Description:</label>
    <input type="textarea" class="form-control" formControlName="description"></div>


<div class="form-group">

     <label>Please enter the Location:</label>
     <input type="text" class="form-control" formControlName="description">
    </div>

<div class="form-group">
<label>Please enter the Latitude:</label>
<input type="number" class="form-control" formControlName="Lat"></div>

<div class="form-group">
<label>Please enter the Longitude:</label>
<input type="number" class="form-control" formControlName="Lng"></div>

<div class="form-group">
<label>Please upload image:</label>
<input type="file" class="form-control" formControlName="upload"></div>

<button class="btn btn-primary">Submit</button>

</form>
</div>






 <!-- <app-petcustomers></app-petcustomers> -->
