

.form1 {

background-color : cadetblue;
width:47%;
float: right;
padding-top: 15px;

display : flex;
position: relative;
padding-left: 135px;
padding-right: 120px;
padding-bottom: 25px;


}
.rtside{
  background-color: yellowgreen;
  float: left;
  width:50%;
  height: 750pc;
  margin-left: 2px;
  padding-top: 15px;
}

input[type=text], select {
width:100%;
padding: 12px 20px;
margin: 8px 0;
display:inline-block;
border:1px solid #ccc;
border-radius:4px;
box-sizing:boder-box;
}
