<form action="/add" method="post">
    
    <p>
    <label> First Name</label><input value="custmersName"  name="custmersName"/>
<br>
<label>
    First Name</label><input value="" name="custmersName"/>
<br>

<label>
    Last Name</label><input value="" name="custmersName"/>
<br>

<label>
    First Name</label><input value="" name="custmersName"/>
<br>

<label>
    First Name</label><input value="" name="custmersName"/>
<br>

<label>
    First Name</label><input value="" name="custmersName"/>
<label>
    First Name</label><input value="" name="custmersName"/>
<br>
<label>
    First Name</label><input value="" name="custmersName"/>
<buton type="submit">Add customer</buton>
    
    </p>



</form>