
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="map">
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d24794.491032691916!2d-94.60554309675848!3d39.03101934119858!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87c0efa37c3839c3%3A0xf63807043b41694e!2sPlaza%20Area%2C%20Kansas%20City%2C%20MO!5e0!3m2!1sen!2sus!4v1599141079868!5m2!1sen!2sus" width="300" height="250" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
</div>


</body>
</html>