{{> nav}}
Fouded items


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
   <style>

body{
    
    
}
.sky{
    width: 100%;
    height: 300px;
}


   </style>
</head>
<body>
    

    <div class="container">
        <div class="header"><img src="/images/skaydog.webp" alt="" srcset class="sky" </div>
        <div class="left"> </div>
        <div class="main">
            
     
        <div class="right">
              </div>
             </div>
    
</body>
</html>
